# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\iss\ISS-lab\ISSProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
